.auth-card{
    position: relative;
    width: 40%;
}
@media (max-width: 1020px){
    .auth-card{
        width: 65%;
    }
}
@media (max-width: 760px){
    .auth-card{
        width: 70%;
    }
}
@media (max-width: 550px){
    .auth-card{
        width: 85%;
    }
}
html{
    width: 100%;
    height: 100%;
    min-height: 100%;
}
.auth-body{
    background: linear-gradient(to right, #5170ff, #ff66c4);
}
.auth-icon{
    background: linear-gradient(to right, #5170ff, #ff66c4);
    border-radius: 50%;
    border: 4px solid #fff;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-icon img{
    width: 75px;
}
.navbar{
    background: #D472E7 !important;
    height: 80px;
}
.home-nav{
    margin-left: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.home-nav img{
    width: 60px;
}
.home-nav a{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}
.botao-logout{
    border: none;
    background: transparent;
    text-decoration: none;
    text-transform: none;
}
.home-text {
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    text-decoration: none;
}
.home-text p{
    margin: 0;
}
.leave-button{
    padding-left: 9px;
}
#navbarSupportedContent{
    width: 200px;
}
#dropdown{
    position: absolute;
}
.carousel{
    width: 900px;
    height: 360px;
    overflow: hidden;
    background-color: #e0e0e032;
    margin-bottom: 150px;
}
.carousel1{
    position: relative;
    left: calc(50% - 450px);
    top: 60px;
}
.carousel2{
    left: calc(50% - 450px);
    margin-top: 60px;
    margin-bottom: 60px;
}
.carousel-item{
    width: 100%;
    height: 100%;
}
.carousel img{
    width: 900px;
    height: 360px;
    object-fit: cover;
}
.materias{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.materias p{
    font-size: 20px;
}
.materia-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.materia-circle {
    width: 220px;
    height: 220px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.materia-circle .circle{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.materia-circle .circle img{
    width: 100%;
}
.c1{
    background-color: #9CBCE3;
}
.c2{
    background-color: #ED7698;
}
.c3{
    background-color: #F2DC87;
}
.c4{
    background-color: #F9B56A;
}
.c5{
    background-color: #88C0A4;
}
footer{
    background-color: #D472E7;
    height: auto;
}
footer .icons{
    font-size: 42px;
    color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
}
footer .icons i:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.6s;
}
footer .group-link{
    display: flex;
    width: 100%;
    height: 60px;
    gap: 60px;
    align-items: center;
    justify-content: center;
}
footer .group-link a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
footer .group-link a:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
footer .links .message{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
footer .copy{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
}
.estrela {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    opacity: 1;
    animation: piscar 1s ease-out, irCima 1.5s ease-out;
    z-index: -1;
}

@keyframes piscar {
    0% { transform: scale(0); opacity: 1; }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes irCima {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-50px); opacity: 0; }
}

#dropdown{
    background-color: #D472E7;
}
#dropdown li a{
    color: #fff;
}
#dropdown form button{
    color: #fff;
}
.dropdown-item:hover{
    background-color: #1111110b;
}
.materia-design{
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.materia-design img{
    width: 160px;
}

/* materia 1 */
.materia1, .materia2{
    background-color: #9CBCE3;
}
.card-1, .card-2{
    border: 1px solid #9CBCE3;
    background-color: #F2F2F2;
}
.btn-1, .btn-2{
    background-color: #80A7D8;
}


.materia3, .materia4{
    background-color: #ED7698;
}
.card-3, .card-4{
    border: 1px solid #ED7698;
    background-color: #F2F2F2;
}
.btn-3, .btn-4{
    background-color: #ED7698;
}

.materia5, .materia6{
    background-color: #F2DC87;
}
.card-5, .card-6{
    border: 1px solid #F2DC87;
    background-color: #F2F2F2;
}
.btn-5, .btn-6{
    background-color: #F2DC87;
}


.materia7, .materia8{
    background-color: #F9B56A;
}
.card-7, .card-8{
    border: 1px solid #F9B56A;
    background-color: #F2F2F2;
}
.btn-7, .btn-8{
    background-color: #F9B56A;
}


.materia9, .materia10, .materia11, .materia12{
    background-color: #88C0A4;
}
.card-9, .card-10, .card-11, .card-12{
    border: 1px solid #88C0A4;
    background-color: #F2F2F2;
}
.btn-9, .btn-10, .btn-11, .btn-12:hover{
    background-color: #88C0A4;
}

.card-noticia{
    width: 500px;
}
.card-noticia div a{
    color: #fff;
}

.btn-card-noticia{
    width: 120px;
}

.card-noticia div a.btn-1:hover,
.card-noticia div a.btn-2:hover{                    
    background-color: #80A7D8;
    color: #fff;
    transform: scale(1.1);
}

.card-noticia div a.btn-3:hover,
.card-noticia div a.btn-4:hover{                    
    background-color: #ED7698;
    color: #fff;
    transform: scale(1.1);
}

.card-noticia div a.btn-5:hover,
.card-noticia div a.btn-6:hover{                    
    background-color: #F2DC87;
    color: #fff;
    transform: scale(1.1);
}

.card-noticia div a.btn-7:hover,
.card-noticia div a.btn-8:hover{                    
    background-color: #F9B56A;
    color: #fff;
    transform: scale(1.1);
}

.card-noticia div a.btn-9:hover,
.card-noticia div a.btn-10:hover,
.card-noticia div a.btn-11:hover,
.card-noticia div a.btn-12:hover{                    
    background-color: #88C0A4;
    color: #fff;
    transform: scale(1.1);
}
.card-img-container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* pagina de perfil usuario */

.acount-main{
    width: 100%;
    height: 645px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-voltar{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #212121;
    transition: 0.5s;
}
.btn-voltar i{
    color: #fff;
    font-size: 22px;
}
.btn-voltar:hover{
    transform: scale(1.05);
}
.profile-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.profile-container .profile-container-title{
    width: 160px;
    height: 40px;
    background-color: #A8CBF7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
}
.profile-user-image{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.profile-user-image img{
    width: 100%;
    height: 100%;
}
.profile-infos{
    display: flex;
    gap: 6rem;
}
.profile-infos section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-infos section:nth-child(1){
    align-items: center;
}
.profile-infos section:nth-child(2){
    width: 320px;
    gap: 3rem;
}
.user-email{
    font-size: 22px;
}
.theme-container p{
    font-size: 24px;
}
.theme-select{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 3px solid #80A7D8;
}
.theme-select .theme-option{
    color: #80A7D8;
    width: 80px;
    padding: 8px;
    border-radius: 30px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.theme-select .theme-option:hover{
    background-color: #80a8d867;
}
.theme-active{
    background-color: #80A7D8 !important;
    color: #fff !important;
}
#edit-pencil{
    position: absolute;
    font-size: 32px;
    width: 45px;
    height: 45px;
    background-color: #dfdfdf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    right: 40px;
    cursor: pointer;
    transition: 0.6s;
}
#edit-pencil:hover{
    transform: scale(1.05);
}