.auth-card{
    position: relative;
    width: 40%;
}
@media (max-width: 1020px){
    .auth-card{
        width: 65%;
    }
}
@media (max-width: 760px){
    .auth-card{
        width: 70%;
    }
}
@media (max-width: 550px){
    .auth-card{
        width: 85%;
    }
}
html{
    width: 100%;
    height: 100%;
    min-height: 100%;
}
.auth-body{
    background: linear-gradient(to right, #5170ff, #ff66c4);
}
.auth-icon{
    background: linear-gradient(to right, #5170ff, #ff66c4);
    border-radius: 50%;
    border: 4px solid #fff;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-icon img{
    width: 75px;
}
.navbar{
    background: #D472E7 !important;
    height: 80px;
}
.home-nav{
    margin-left: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.home-nav img{
    width: 60px;
}
.home-nav a{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}
.botao-logout{
    display: flex;
    align-items: start;
    width: 100%;
    border: none;
    background: transparent;
    text-decoration: none;
    text-transform: none;
}
.home-text {
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    text-decoration: none;
}
.home-text p{
    margin: 0;
}
.leave-button{
    padding-left: 9px;
}
#navbarSupportedContent{
    width: 200px;
}
#dropdown{
    position: absolute;
}
.materias{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 2rem;
}
.materias p{
    font-size: 20px;
}
.materia-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.materia-circle {
    width: 220px;
    height: 220px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s ease;
}
.materia-circle .circle{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.materia-circle:hover {
    transform: scale(1.1);
    /* font-size: 28px; */
}
.materia-circle p::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: calc(50% - 75px);
    width: 0;
    height: 2px;
    transition: width 0.5s ease;
}

.materia-circle:nth-child(1) p::before,
.materia-circle:nth-child(2) p::before{
    background-color: #9CBCE3;
}

.materia-circle:nth-child(3) p::before,
.materia-circle:nth-child(4) p::before{
    background-color: #ED7698;
}

.materia-circle:nth-child(5) p::before,
.materia-circle:nth-child(6) p::before{
    background-color: #F2DC87;
}

.materia-circle:nth-child(7) p::before,
.materia-circle:nth-child(8) p::before{
    background-color: #F9B56A;
}

.materia-circle:nth-child(9) p::before,
.materia-circle:nth-child(10) p::before,
.materia-circle:nth-child(11) p::before,
.materia-circle:nth-child(12) p::before{
    background-color: #88C0A4;
}



.materia-circle:hover p::before {
    width: 150px;
}
.materia-circle .circle img{
    width: 100%;
}
.c1{
    background-color: #9CBCE3;
}
.c2{
    background-color: #ED7698;
}
.c3{
    background-color: #F2DC87;
}
.c4{
    background-color: #F9B56A;
}
.c5{
    background-color: #88C0A4;
}
footer{
    background-color: #D472E7;
    height: auto;
}
footer .icons{
    font-size: 42px;
    color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
}
footer .icons a i{
    color: #fff;
}
footer .icons a:hover i{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.6s;
}
footer .group-link{
    display: flex;
    width: 100%;
    height: 60px;
    gap: 60px;
    align-items: center;
    justify-content: center;
}
footer .group-link a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
footer .group-link a:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
footer .links .message{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
footer .copy{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
}
.estrela {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    opacity: 1;
    animation: piscar 1s ease-out, irCima 1.5s ease-out;
    z-index: -1;
}

@keyframes piscar {
    0% { transform: scale(0); opacity: 1; }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes irCima {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-50px); opacity: 0; }
}

#dropdown{
    background-color: #D472E7;
}
#dropdown li a{
    color: #fff;
}
#dropdown form button{
    color: #fff;
}
.dropdown-item:hover{
    background-color: #1111110b;
}
.materia-design{
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.materia-design img{
    width: 160px;
}

/* materia 1 */
.materia1, .materia2{
    background-color: #9CBCE3;
}
.card-1, .card-2{
    border: 1px solid #9CBCE3;
    background-color: #F2F2F2;
}
.btn-1, .btn-2{
    background-color: #80A7D8;
}


.materia3, .materia4{
    background-color: #ED7698;
}
.card-3, .card-4{
    border: 1px solid #ED7698;
    background-color: #F2F2F2;
}
.btn-3, .btn-4{
    background-color: #ED7698;
}

.materia5, .materia6{
    background-color: #F2DC87;
}
.card-5, .card-6{
    border: 1px solid #F2DC87;
    background-color: #F2F2F2;
}
.btn-5, .btn-6{
    background-color: #F2DC87;
}


.materia7, .materia8{
    background-color: #F9B56A;
}
.card-7, .card-8{
    border: 1px solid #F9B56A;
    background-color: #F2F2F2;
}
.btn-7, .btn-8{
    background-color: #F9B56A;
}


.materia9, .materia10, .materia11, .materia12{
    background-color: #88C0A4;
}
.card-9, .card-10, .card-11, .card-12{
    border: 1px solid #88C0A4;
    background-color: #F2F2F2;
}
.btn-9, .btn-10, .btn-11, .btn-12:hover{
    background-color: #88C0A4;
}

.card-noticia{
    width: 500px;
}
.card-noticia div a{
    color: #fff;
}

.btn-card-noticia{
    width: 120px;
}

.card-noticia div a.btn-1:hover,
.card-noticia div a.btn-2:hover{                    
    background-color: #80A7D8;
    color: #fff;
    transform: scale(1.1);
}

.card-noticia div a.btn-3:hover,
.card-noticia div a.btn-4:hover{                    
    background-color: #ED7698;
    color: #fff;
    transform: scale(1.1);
}

.card-noticia div a.btn-5:hover,
.card-noticia div a.btn-6:hover{                    
    background-color: #F2DC87;
    color: #fff;
    transform: scale(1.1);
}

.card-noticia div a.btn-7:hover,
.card-noticia div a.btn-8:hover{                    
    background-color: #F9B56A;
    color: #fff;
    transform: scale(1.1);
}

.card-noticia div a.btn-9:hover,
.card-noticia div a.btn-10:hover,
.card-noticia div a.btn-11:hover,
.card-noticia div a.btn-12:hover{                    
    background-color: #88C0A4;
    color: #fff;
    transform: scale(1.1);
}
.card-img-container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* pagina de perfil usuario */

.acount-main{
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.btn-voltar{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #212121;
    transition: 0.5s;
}
.btn-voltar i{
    color: #fff;
    font-size: 22px;
}
.btn-voltar:hover{
    transform: scale(1.05);
}
.profile-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.profile-container .profile-container-title{
    width: 160px;
    height: 40px;
    background-color: #A8CBF7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
}
.profile-user-image{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.profile-user-image img{
    width: 100%;
    height: 100%;
}
.profile-infos{
    display: flex;
    gap: 6rem;
}
.profile-infos section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-infos section:nth-child(1){
    align-items: center;
}
.profile-infos section:nth-child(2){
    width: 320px;
    gap: 3rem;
}
.user-email{
    font-size: 22px;
}
.theme-container p{
    font-size: 24px;
}
.theme-select{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 3px solid #80A7D8;
}
.theme-select .theme-option{
    color: #80A7D8;
    width: 80px;
    padding: 8px;
    border-radius: 30px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.theme-select .theme-option:hover{
    background-color: #80a8d867;
}
.theme-active{
    background-color: #80A7D8 !important;
    color: #fff !important;
}
#edit-pencil{
    position: absolute;
    font-size: 32px;
    width: 45px;
    height: 45px;
    background-color: #dfdfdf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    right: 40px;
    cursor: pointer;
    transition: 0.6s;
}
#edit-pencil:hover{
    transform: scale(1.05);
}
.profile-container-title-orange{
    background-color: #F9B56A !important;
}
.h1-criacao{
    text-align: center;
    border-bottom: 1px solid black;
    height: 80px;
}

.theme-select-orange{
    border: 3px solid #F9B56A !important;
}

.theme-option-orange{
    color: #F9B56A !important;
}
.nivel-1 .theme-active{
    background-color: #F9B56A !important;
    color: #fff !important;
}
.nivel-1 .theme-option:hover{
    background-color: #d8b08067 !important;
}
#add-post{
    height: 60px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F9B56A;
    transition: 0.5s;
}
#add-post p{
    margin: 0;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
}
#add-post i{
    font-size: 26px;
    color: #fff;
}
#add-post:hover{
    transform: scale(1.05);
}
.nivel-1 .profile-user-image{
    width: 300px;
    height: 300px;
}
.nivel-1 section:nth-child(1) h1{
    font-weight: 400;
}
.acount-main{
    width: 100%;
}
#modal-post {
    z-index: -2;
    opacity: 0;
    padding: 30px;
    width: 1450px;
    height: 650px;
    background-color: #FFFFFF;
    position: fixed;
    top: 40px;
    border-radius: 12px;
    left: calc(50% - 725px);
    box-shadow: 0 0 1000px black;
    transition: opacity 0.3s ease, z-index 0.3s ease, transform 0.3s ease;
    transform: scale(0.8);
}

#close-modal{
    border: none;
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: #F9B56A;
    font-size: 20px;
}

#modal-post form{
    margin-top: 30px;
}
#modal-post form button{
    border-radius: 50px;
    background-color: #F9B56A;
    width: 140px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    color: #fff;
}
.form-sets{
    width: 100%;
    padding-top: 10px;
    position: relative;
}
.title-input{
    border: none;
    border-bottom: 1px solid #F9B56A;
    font-size: 28px;
    font-weight: bold;
}
.subtitle-input{
    border: none;
    border-bottom: 1px solid #F9B56A;
    font-size: 22px;
    font-weight: 600;
}
.content-input{
    height: 300px !important;
    border: none;
    border-bottom: 1px solid #F9B56A;
    font-size: 18px;
}
.image-input{
    border: 2px solid #F9B56A;
}
.materia-input{
    border: 2px solid #F9B56A;
}
.active-modal {
    opacity: 1 !important;
    z-index: 2 !important;
    transform: scale(1) !important;
}

@media (max-width: 1100px){
    #modal-post{
        width: 1000px;
    }
}

.profile-pend{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.profile-pend-top{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
.profile-pend-top .profile-pend-user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.profile-pend-user img{
    width: 90px;
}
.profile-pend-user p{
    font-size: 22px;
    margin: 0;
}
.profile-pend-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
    min-height: 100%;
    height: auto;
}
.profile-content-card{
    min-height: 240px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 440px;
    height: 240px;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 1px solid #212121;
}
.profile-content-card-top{
    width: 100%;
}
.profile-content-card-top h1{
    font-size: 34px;
    font-weight: 400;
}
.profile-content-card-top h2{
    font-weight: 400;
    font-size: 22px;
}
.profile-content-card-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.profile-content-card-bottom form button{
    width: 140px;
    transition: transform 0.5s ease;
    font-size: 22px;
}
.profile-content-card-bottom form button:hover{
    transform: scale(1.1);
}
.profile-content-card-bottom form button.btn-recuso{
    background-color: #BF375E;
    color: #fff;
}
.profile-content-card-bottom form button.btn-aprova{
    background-color: #88C0A4;
    color: #fff;
}
#nivel2-main, #nivel4-main{
    height: auto;
    min-height: 685px;
}
.admin-container{
    width: 100%;
    height: 685px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-painel{
    width: 800px;
    height: 400px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.admin-painel a{
    width: 200px;
    height: 40px;
}

.admin-painel a button{
    border: none;
    background-color: transparent;
    color: #fff;
}

.custom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.custom-modal .custom-modal-content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
    text-align: center;
}

.custom-modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.custom-modal .close:hover {
    color: #333;
}

/* notice page */

.noticia-container-info{
    width: 100%;
    height: 80px;
}
.noticia-container-info .notice-title{
    width: auto;
    min-width: 500px;
}
.noticia-container-info .notice-title h1{
    width: auto;
    font-size: 48px;
    font-weight: 400;
}
.noticia-container-info .notice-title h2{
    width: auto;
    font-weight: 400;
    font-size: 34px;
    color: #6F6E6E;
}
.noticia-container-info .notice-user{
    display: flex;
    align-items: center;
    gap: 4px;
}
.noticia-container-info .notice-user img{
    width: 80px;
}
.noticia-container-info .notice-user p:nth-child(1){
    font-size: 18px;
    font-weight: 600;
}
.noticia-container-info .notice-user p:nth-child(2){
    font-size: 12px;
    color: #6F6E6E;
}
.notice-upper{
    justify-content: space-between;
}
.notice-title{
    width: 400px;
}
.navbar{
    padding: 0;
}
.notice-guide-link{
    color: black;
    text-decoration: none;
}
.image-notice{
    float: left;
    margin: 0 3em 1em 0;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6F6E6E;
}
.image-notice .image-description{
    text-align: center;
}
.text-notice {
    font-size: 20px !important;
    white-space: pre-wrap;     
    word-wrap: break-word;    
    overflow-wrap: break-word; 
}
.image-notice img{
    width: 100%;
}
#nivel1-main , #nivel0-main{
    height: auto;
    min-height: 661px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* tela do carrossel */

.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.carousel-controler {
    position: absolute;
    left: calc(50% - 500px);
    width: 1000px;
    height: 100%;
    z-index: 30;
    pointer-events: none;
}

.button-controler {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #2121211a;
    color: #fff;
    font-size: 28px;
    position: absolute;
    transition: background-color 0.5s ease;
    pointer-events: auto;
}

.button-controler:hover {
    background-color: #21212162;
    cursor: pointer;
}

#right {
    top: calc(50% - 25px);
    right: 10px;
}

#left {
    top: calc(50% - 25px);
    left: 10px;
}

#bullet-control {
    width: 200px;
    height: 30px;
    position: absolute;
    top: calc(100% - 40px);
    left: calc(50% - 100px);
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    z-index: 30;
    pointer-events: auto;
}

.bullet-control-bullet {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff84;
    border: 2px solid #21212179;
    transition: width 0.5s ease, background-color 0.5s ease;
    cursor: pointer;
}

.bullet-control-bullet-active {
    width: 60px;
    border: 2px solid #212121bb;
    background-color: #f3f3f3bf;
}

.carousel-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.carousel-items {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-card {
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    pointer-events: none;
    will-change: transform;
    transition: transform 0.5s ease-in-out;
}


.hero-card-active {
    z-index: 20;
    pointer-events: auto;
}

li {
    list-style: none;
}

#hero-card3 {
    background-color: yellow !important;
    transform: translateX(-1100px);
}

#hero-card2 {
    background-color: greenyellow !important;
    transform: translateX(1100px);
}

.image-hero {
    width: 100%;
}

.hero-card h3 {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    top: 30px;
    left: 10px;
    background-color: #ffffffc4;
    border-radius: 0 10px 10px 0;
    position: absolute;
    font-size: 26px;
    z-index: 25;
    color: #212121;
}

.image-link {
    width: 100%;
    height: 100%;
    z-index: 20;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 992px) {
    .profile-container {
      width: 80%;
      gap: 2rem;
    }
    .profile-infos {
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }
    .profile-user-image {
      width: 200px;
      height: 200px;
    }
  
    /* Modal de criação de post */
    #modal-post {
      width: 90% !important;
      left: 5% !important;
      top: 20px !important;
    }
    #modal-post .form-sets{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
  }

  @media (max-width: 768px) {
    .acount-main {
      padding: 1rem 0;
    }
    .profile-container {
      width: 100%;
    }

    .btn-voltar {
      top: 10px;
      left: 10px;
    }
  
    #nivel1-main section:nth-child(1) h1 {
      font-size: 1.5rem;
    }
    #add-post {
      width: 100%;
      gap: 50px;
      justify-content: center;
    }
    .profile-pend-content {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    .card-noticia {
      width: 100%;
    }
    .notice-upper{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start !important;
        
    }
    .notice-upper .notice-title{
        width: 100% !important;
        min-width: 100%; 
    }
    .notice-upper .notice-title h1{
        font-size: 32px;
        width: 100%;
    }
    .notice-upper .notice-title h2{
        font-size: 22px;
        width: 100%;
    }
    .notice-upper .notice-user{
        width: auto;
        height: 60px;
    }
    .notice-user img{
        width: 60px !important;
        height: 60px !important;
    }
    .notice-user-text p{
        margin: 0;
    }
    .image-notice{
        width: 50% !important;
    }
  }

  @media (max-width: 576px) {

    .theme-option, .title-input, .subtitle-input, .content-input {
      font-size: 1rem;
    }
    .auth-card {
      width: 90% !important;
    }
    .materia-group {
      gap: 20px;
      width: 95%;
    }
    .carousel-controler {
      left: 0;
      width: 100%;
    }
  }