.auth-card{
    position: relative;
    width: 40%;
}
@media (max-width: 1020px){
    .auth-card{
        width: 65%;
    }
}
@media (max-width: 760px){
    .auth-card{
        width: 70%;
    }
}
@media (max-width: 550px){
    .auth-card{
        width: 85%;
    }
}
.auth-body{
    background: linear-gradient(to right, #5170ff, #ff66c4);
}
.auth-icon{
    background: linear-gradient(to right, #5170ff, #ff66c4);
    border-radius: 50%;
    border: 4px solid #fff;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-icon img{
    width: 75px;
}
.navbar{
    background: #D472E7 !important;
    height: 80px;
}
.home-nav{
    margin-left: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.home-nav img{
    width: 60px;
}
.home-nav a{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}
.botao-logout{
    border: none;
    background: transparent;
    text-decoration: none;
    text-transform: none;
}
.home-text{
    text-decoration: none;
}
.leave-button{
    padding-left: 9px;
}
#navbarSupportedContent{
    width: 200px;
}
#dropdown{
    position: absolute;
}
.carousel{
    width: 900px;
    height: 360px;
    overflow: hidden;
    background-color: #e0e0e032;
    margin-bottom: 150px;
}
.carousel1{
    position: relative;
    left: calc(50% - 450px);
    top: 60px;
}
.carousel2{
    position: relative;
    left: calc(50% - 450px);
    top: 350px;
    margin-bottom: 400px;
}
.carousel-item{
    width: 100%;
    height: 100%;
}
.carousel img{
    width: 900px;
    height: 360px;
    object-fit: cover;
}
.materias{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.materias p{
    font-size: 20px;
}
.materia-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px; /* Reduzi o espaçamento */
    justify-items: center; /* Alinha os itens ao centro da célula */
    width: 80%; /* Reduzi a largura para evitar desalinhamento */
    margin: 0 auto; /* Centraliza o grid na tela */
}

.materia-circle {
    width: 220px;
    height: 220px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.materia-circle .circle{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.materia-circle .circle img{
    width: 100%;
}
.c1{
    background-color: #9CBCE3;
}
.c2{
    background-color: #ED7698;
}
.c3{
    background-color: #F2DC87;
}
.c4{
    background-color: #F9B56A;
}
.c5{
    background-color: #88C0A4;
}
footer{
    background-color: #D472E7;
    height: auto;
}
footer .icons{
    font-size: 42px;
    color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
}
footer .icons i:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.6s;
}
footer .group-link{
    display: flex;
    width: 100%;
    height: 60px;
    gap: 60px;
    align-items: center;
    justify-content: center;
}
footer .group-link a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
footer .group-link a:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
footer .links .message{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
footer .copy{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
}